<p id="notice"><%= notice %></p>

<div>
  <h1 class="title">Blog</h1>

  <% if policy(@articles).create? %>
  <div>
    <%= link_to 'New Article', new_article_path,
        id: "new_article", class: "button radius" %>
  </div>
  <% end %>

</div>

<br>

<div class="row">
  <div class="large-6 columns">

    <% @articles.each do |article| %>

    <div class="row">
      <div class="large-2 columns small-3"><img src="http://placehold.it/80x80&text=[img]"/></div>
      <div class="large-10 columns">

        <p><strong><%= article.title %></strong><br><%= article.body %></p>
        <ul class="inline-list">
          <!-- <li><a href="">Reply</a></li> -->
          <!-- <li><a href="">Share</a></li> -->
          <li><%= link_to("Show", article_path(article), class:
                  "button radius small") %></li>

          <% if policy(article).update? %>
          <li><%= link_to('Edit', edit_article_path(article),
                  class: "button radius small") %></li>
          <% end %>

          <% if policy(article).destroy? %>
          <li><%= link_to('Destroy', article, class: "button radius small",
                  method: :delete, data: { confirm: 'Are you sure?'})%></li>
          <% end %>

        </ul>
      </div>
    </div>
  </div>

  <hr/>

  <% end %>
  </div>
</div>
