<ul class="right">
  <li class="has-dropdown">
    <%= link_to "Sections", "#" %>
    <ul class="dropdown">
      <li><%= link_to("Music",
              "http://www.thefabulouspartyboys.com/",
              class: "navlink") %></li>
      <li><%= link_to "Code", projects_path, class: "navlink" %></li>
      <li><%= link_to "Blog", articles_path, class: "navlink" %></li>
      <li><%= link_to "Contact", "#", class: "navlink" %></li>
    </ul>
  </li>
</ul>
