<%= render 'shared/header' %>

<div id="about" class="row">
  <div class="four columns">
    <img id="sax" src="<%= asset_path "sax_painting.jpg" %>" />
  </div>
  <div class="eight columns">
    <div class="row">
      <div class="six columns">
        <p id="info">Web developer. Musician.</p>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>

  <!-- Included JS Files (Uncompressed) -->
  <!--

  <script src="javascripts/jquery.js"></script>

  <script src="javascripts/jquery.foundation.mediaQueryToggle.js"></script>

  <script src="javascripts/jquery.foundation.forms.js"></script>

  <script src="javascripts/jquery.foundation.reveal.js"></script>

  <script src="javascripts/jquery.foundation.orbit.js"></script>

  <script src="javascripts/jquery.foundation.navigation.js"></script>

  <script src="javascripts/jquery.foundation.buttons.js"></script>

  <script src="javascripts/jquery.foundation.tabs.js"></script>

  <script src="javascripts/jquery.foundation.tooltips.js"></script>

  <script src="javascripts/jquery.foundation.accordion.js"></script>

  <script src="javascripts/jquery.placeholder.js"></script>

  <script src="javascripts/jquery.foundation.alerts.js"></script>

  <script src="javascripts/jquery.foundation.topbar.js"></script>

  <script src="javascripts/jquery.foundation.joyride.js"></script>

  <script src="javascripts/jquery.foundation.clearing.js"></script>

  <script src="javascripts/jquery.foundation.magellan.js"></script>

  -->

  <!-- Included JS Files (Compressed) -->
  <%= javascript_include_tag 'jquery' %>
  <%= javascript_include_tag 'foundation.min' %>

  <!-- Initialize JS Plugins -->
  <%= javascript_include_tag 'app' %>
