<h2>My Portfolio</h2>
<ul>
<% @projects.each do |project| %>
  <li class="project" id="<%= dom_id(project) %>">
    <h3><%= project.name %></h3>
    <p><%= project.technologies_used %></p>
    <img src="<%= project.logo_url.to_s %>" alt="project logo", class="project_logo">
    <div class="nav">
      <%= link_to 'Show', project %> |
      <%= link_to 'Edit', edit_project_path(project) %> |
      <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </li>
<% end %>
</ul>
<br />
<%= link_to 'New Project', new_project_path %>
